body {
    background:linear-gradient(rgba(0.0.0.0.3),rgba(0.0.0.0.3), url(https://tse1.mm.bing.net/th?id=OIP.8IL5bmNMxvUvDJdRpJeDGwHaNK&pid=Api));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
* {
    margin: 0;
    padding: 0;
}